.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
section{

  background-image: url(../src/assets/img/v1072-037-c-copy-min.jpg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
 
} */
.col-7-bg{
  padding-top: 90px;
  padding-bottom: 90px;
}
.card-width{
  /* height: 550px !important; */
  width: 550px;
}
.heighttext{
  line-height: 2.1 !important;
}
.radius-30{
  border-radius: 30px !important;
}
.input-bg{
  background-color: #f2f2f2 !important;
}
.btn-bg{
  background-color: #2cb7cc !important;
}
.btn-height{
  line-height: 2.0 !important;
}
.btn-bg:hover{
  background-color: #ea252e !important;
}
.text-font{
  font-size: 60px;
}
.area-height{
  line-height: 3.5 !important;
}
.btn-radius{
  border-radius: 10px !important;
}
.logo-text{
  color: #f2f2f2 !important;
}
/* .col-5-bg{
  background-color: rgb(44, 183, 204) !important;
  background: rgba(44, 183, 204, 0.5);
} */
.menu-w{
  margin-left: 35rem;
}
section{
  height: 600px;
}
nav{
  overflow: hidden;
}
/* body{
  overflow: hidden;
} */